<div class="newForm">
    <form method="POST" action="">
    <div class="form-group">
        <label for="search">Email address</label>
        <input type="text" name="q" class="form-control" id="search" placeholder="Tìm kiếm">
    </div>
    <div class="form-group">
        <label for="search">Ngôn ngữ</label>
        <input type="text" name="lg" class="form-control" id="lg" placeholder="Tìm kiếm">
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>