<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- đã khai báo public static ở index.js nên nguồn mặc định chạy về thư mục public --}}
    <link rel="stylesheet" href="../../css/app.css">
    <link rel="stylesheet" href="../../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    {{!-- Mặc định nhập thư mục partials --}}
    {{>header}}
    <div class="body">
        {{{body}}}
    </div>
    {{>footer}}

    <script src="../../js/jquery-3.5.1.js"></script>
    <script src="../../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</body>
</html>